@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

tilte {
	text-decoration: none;
}

/*top_section*/
#header_bg {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.active{
  background-color: #fff;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}

.deactive{
  
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}

#wrap_header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#wrap_header:hover {
    background: #fff;
    transition: 0.5s;
}

#top {
    width: 1300px;
    height: 100px;
    margin: 0 auto;
}

#top div.nav {
    display: flex;
}

#top div.nav a.logo_btn {
    width: 300px;
    height: 45px;
    display: inline-block;
    margin-right: 200px;
    margin-top: 25px;
    margin-left: 20px;
}

#top div.nav a.logo_btn div.logo {
    width: 96px;
    height: 40px;
    display: inline-block;
    background: url(../images/logo.png);
    float: left;
}

#top div.nav a.logo_btn div.text {
    width: 180px;
    height: 45px;
    font-size: 38px;
    color: #000;
    font-family: 'Nanum Brush Script', cursive;
    display: inline-block;
    margin-left: 20px;
}

#top div.nav a.logo_btn:hover div.logo {
    background: url(../images/logo_w.png);
}

#top div.nav a.logo_btn:hover div.text {
    color: #f3ae02;
}

#top div.nav div.btn {
    width: 130px;
    height: 100px;
    font-size: 34px;
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    position: relative;
}

#top div.nav div.btn a {
    display: inline-block;
    width: 130px;
    height: 100px;
	line-height: 100px;
    color: #000;
    text-align: center;
}

#top div.nav div.btn ul.sub {
    position: absolute;
    display: none;
    top: 100px;
    font-size: 28px;
    font-family: 'Nanum Brush Script', cursive;
}

#top div.nav div.btn ul.sub li {
    background: #fff;
}

#top div.nav div.btn ul.sub li a {
	width: 130px;
	height: 45px;
	line-height: 45px;
	color: #000;
}

/*#top div.nav div.btn:hover ul.sub {
    transition: 0.5s;
    background: #fff;
    display: block;
}*/

/*#top div.nav div.btn:hover ul.sub > li {
    width: 130px;
    height: 45px;
    line-height: 45px;
    transition: 0.5s;
    background: #fff;
    opacity: 1;
}*/

/*#top div.nav div.btn:hover ul.sub > li a {
    font-size: 28px;
    font-family: 'Nanum Brush Script', cursive;
    color: #000;
    text-align: center;
}*/

#top div.nav div.btn:hover ul.sub > li a:hover {
    color: #f3ae02;
}

#top div.nav div.btn:hover {
    color: #f3ae02;
}

#top div.nav div.login {
    display: inline-block;
    width: 90px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50px;
    background: #f3ae02;
    font-size: 16px;
    letter-spacing: -1px;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

#top div.nav div.login a {
    display: inline-block;
    width: 90px;
    height: 30px;
    border-radius: 50px;
    color: #222;
    border: 0px;
}

/*section_1*/
#main_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#class_info {
    width: 1900px;
    position: relative;
	top: 0;
	left: 0;
}

#class_info img {
	width: 1900px;
	height: 1000px;
	object-fit: fill;
}

#class_info div.img_1 {
    position: absolute;
	top: 300px;
	left: 150px;
}

#class_info div.img_1 img {
	width: 750px;
	height: 503px;
	object-fit: cover;
}

#class_info div.img_2 {
	position: absolute;
	top: 300px;
	right: 150px;
}

#class_info div.img_2 img {
	width: 750px;
	height: 503px;
	object-fit: cover;
}

#cmp_img div.text {
	font-size: 36px;
	color: #000;
}

/*table*/
#table {
	width: 1300px;
	margin: 0 auto;
}
#table table {
	width: 1050px;
	margin: 0 auto;
	border-collapse: collapse;
	margin-top: 100px;
}

#table td {
	font-size: 42px;
	color: #222;
	text-align: center;
	font-family: 'Nanum Brush Script', cursive;
	border: 3px solid #ddd;
	border-collapse: collapse;
	padding: 5px 10px;
}

#table p {
	width: 1050px;
	margin: 0 auto;
}

/*student*/
#stu {
	width: 1280px;
	margin: 0 auto;
}

#stu > table {
	width: 1000px;
	height: 900px;
	border: 1px solid #ddd;
	border-collapse: collapse;
	margin: 0 auto;
	margin-bottom: 70px;
}

#stu > table > tr,td {
	border: 1px solid #ddd;
}

#stu tr td {
	width: 200px;
	height: 200px;
	font-size: 12px;
	color: #333;
	text-align: center;
	cursor: pointer;
}

#stu tr td #box {
	width: 200px;
	height: 200px;
	border: 0;
	position: relative;
	overflow: hidden;
}

#stu tr td #box div.box_sup {
	width: 200px;
	height: 200px;
	line-height: 200px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: -260px;
	left: 0;
}

#stu tr td #box:hover div.box_sup {
	top: 0;
	transition: 0.6s;
}

#stu tr td #box div.box_sup span {
	color: #fff;
	border: 1px solid #fff;
	padding: 0 2px;
}

#stu tr:last-child img {
	width: 115px;
	margin-top: 40px;
}

#stu tr:first-child td {
	text-align: center;
	width: 1000px;
	height: 700px;
	cursor: default;
}

#stu tr:first-child td h2 {
	text-align: left;
	font-size: 24px;
	padding-left: 100px;
	padding-bottom: 20px;
}

#stu table tr:first-child td img.main {
	width: 800px;
}

/*copyright*/
#copy_wrap {
    width: 100%;
    position: absolute;
    top: 2585px;
    left: 0;
    background: #dedede;
}

#copyright {
    width: 1300px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

#copyright div.copy_logo {
    position: absolute;
    top: 55px;
    left: 50px;
    display: inline-block;
}

#copyright div.copy_menu {
    position: absolute;
    top: 25px;
    left: 330px;
    display: inline-block;
}

#copyright div.copy_text {
    position: absolute;
    top: 80px;
    left: 350px;
    display: inline-block;
}

#copyright div.copy_icon {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: inline-block;
}

#copyright div.copy_logo a p.logo_img {
    width: 119px;
    height: 50px;
    background-image: url(../images/logo-copy_g.png);
    display: inline-block;
    vertical-align: top;
}

#copyright div.copy_logo a p.logo_text {
    font-size: 32px;
    font-weight: bold;
    color: #999;
    font-family: 'Nanum Brush Script', cursive;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    line-height: 80%;
}

#copyright div.copy_logo p.logo_text span {
    font-size: 18px;
    font-weight: normal;
}

#copyright div.copy_logo a:hover p.logo_img {
    background-image: url(../images/logo-copy.png);
}

#copyright div.copy_logo a:hover p.logo_text {
    color: #222;
}

#copyright div.copy_menu p.menu {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 20px;
    font-family: 'NanumBarunGothic';
}

#copyright div.copy_menu p.menu a {
    color: #999;
}

#copyright div.copy_menu p.menu a:hover {
    color: #222;
}

#copyright div.copy_text p.text {
    font-size: 16px;
    font-family: 'NanumBarunGothic';
    color: #999;
}

#copyright div.copy_icon p {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
